<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/header.ejs') %>
	
	<!-- Banner -->
	<div class="banner">
		
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i = 0; i < datos.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= datos[i].id %>">
							<figure class="product-box_image">
								<img src= " <%=datos[i].foto %>" alt="<%=datos[i].nombre%>">
							</figure>
							<article class="product-box_data">
								<h2><%= datos[i].nombre %></h2>
								<p><%= datos[i].descripcion %></p>
								<p>Comentarios: <%= datos[i].comentarios.length %></p>
							</article>
						</a>
					</section>
				</div>
			<% } %>

	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i = 0; i < datos.length; i++) { %>
				<% if (datos[i].comentarios.length > 2) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= datos[i].id %>">
							<figure class="product-box_image">
								<img src= " <%=datos[i].foto %>" alt="<%=datos[i].nombre%>">
							</figure>
							<article class="product-box_data">
								<h2><%= datos[i].nombre %></h2>
								<p><%= datos[i].descripcion %></p>
								<p>Comentarios: <%= datos[i].comentarios.length %></p>
							</article>
						</a>
					</section>
				</div>
				<% } %>
				<p>Hola</p>

			<% } %>

		</div>
	</div>
	<!-- /Más comentados -->

  <%- include('./partials/footer.ejs') %>
  