<% if (locals.user != undefined) { %>
	<%- include('./partials/headerlogueado.ejs')%>
<% } else { %>
	<%- include('./partials/header.ejs')%>
	<% } %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="forms">
				<form action="/users/login" method="POST" novalidate>
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" value="<%= locals.old && old.email ? old.email : null %>"><br><br>
					<!-- aqui preguntamos si hay errores en locals, y si el error coincide con el name del input. si hay enviamos el error en un div con class="error-msg" -->
					<% if (locals.errors && errors.email) { %>
						<div class="error-msg">
							<%= errors.email.msg %>                                
						</div>                            
					<% } %>   
				
					<label for="password">Contraseña:</label>
					<input type="password" id="password" name="password" ><br><br>
					<% if (locals.errors && errors.password) { %>
						<div class="error-msg">
							<%= errors.password.msg %>                                
						</div>                            
					<% } %>   
						
					<label for="recordarme">Recordarme:</label>
					<input type="checkbox" id="recordarme" name="recordarme"><br><br>
				
					<input type="submit" value="Iniciar sesión">
				</form>
				
			</h2>
	<%- include('./partials/footer.ejs') %>

