<% if (locals.user != undefined) { %>
	<%- include('./partials/headerlogueado.ejs')%>
<% } else { %>
	<%- include('./partials/header.ejs')%>
<% } %>
<!-- product detail -->
        <div class="container products-wrapper">
            <div class="d-flex align-items-center">
                <h2 class="products-title">
                    <%= producto.nombre_producto %>
                </h2>
                <p class="product-detail-description">
                    <a href="">Editar</a>
                </p>
            </div>
            <div class="product-detail">
                <div class="row">
                    <article class="col-12 col-lg-8 product-detail-info">
                        <% if(new Date(producto.createdAt) > new Date('2024-06-21')){ %>
                            <img src= "<%=producto.imagen %>" alt="<%=producto.nombre_producto%>"  class="product-detail-img">>
                            <% }else{ %>
                            <img src= "../imagenes/<%=producto.imagen %>" alt="<%=producto.nombre_producto%>"  class="product-detail-img">>
                            <% } %>                        
                            <p class="product-detail-description">
                            <%= producto.descripcion %>
                        </p>
                        <p class="product-detail-description"> <a href="../profile/<%=producto.usuario_id%>"> Publicado por <%=producto.usuarios.username%></a></p>
                    </article>
                    <div class="col-12 col-lg-4">
                        <% for (let r=0; r < producto.comentarios.length; r++) { %>
                            <section class="comments" >
                                <article>
                                    <img src="<%=producto.comentarios[r].usuarios.foto %>" alt="">
                                    <% if (producto.comentarios[r].usuario_id !== undefined) { %>
                                        <div class="data">
                                            <p class="user">
                                                <strong> <a href="/profile/<%= producto.comentarios[r].usuarios.id%>"> <%= producto.comentarios[r].usuarios.username %></a> </strong>
                                                <%= producto.comentarios[r].comentario %>
                                            </p>
                                        </div>
                                    <% } %>	
                                </article>
                            </section>
                            <hr>
                        
                        <% } %>
                        <% if (locals.user) { %>
                            <form class="form" action="/product/<%=producto.id%>" method="POST">
                                <input class="form-input" name="comentario" type="text" placeholder="Agregar comentario">
                                <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                            </form>
                        <% } else { %>
                            <form>
                                <button type="submit" class="buy-now-button">Debes estar logueado para comentar</button>
                            </form>
                        <% } %>
                        <% if(locals.user){ %>
                        <form  action="/product/edit/<%=producto.id%>" method="GET">
                            <% if (producto.usuario_id == locals.user.id) { %>
                                <button type="submit" >EDITAR PRODUCTO</button>
                            <% } %>
                        </form>
                        <br>
                        <form  action="" method="GET">
                            <% if (producto.usuario_id == locals.user.id) { %>
                                <button type="submit" >ELIMINAR PRODUCTO</button>
                            <% } %>
                        </form>
                        <% } %>
                </div>
            </div>
        </div>
    


<%- include('partials/footer.ejs') %>
