<% if (locals.user != undefined) { %>
	<%- include('./partials/headerlogueado.ejs')%>
<% } else { %>
	<%- include('./partials/header.ejs')%>
<% } %>	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form class="agregarproducto" action="/product/edit/<%=producto.id%>" method="POST" novalidate>
					<div>
						<label for="imagen">Imagen:</label>
						<input type="input" id="imagen" name="imagen" accept="image/*" value="<%= producto.id.imagen %>">
						<% if (locals.errors && errors.imagen) { %>
							<p class="feedback"><%= errors.imagen.msg %></p>
						<% } %>
					</div>
					<div>
						<label for="nombre_producto">Nombre del Producto:</label>
						<input  type="text" id="nombre_producto" name="nombre_producto" value="<%= producto.id.nombre_producto %>">
						<% if (locals.errors && errors.nombre_producto) { %>
							<p class="feedback"><%= errors.nombre_producto.msg %></p>
						<% } %>
					</div>
					<div>
						<label for="descripcion">Descripción:</label>
						<input class="agregardescripcion" type="text" id="descripcion" name="descripcion" value="<%= producto.id.descripcion %>">
						<% if (locals.errors && errors.descripcion) { %>
							<p class="feedback"><%= errors.descripcion.msg %></p>
						<% } %>  
					</div>					
					<div>
						<button class="boton" type="submit" >Editar producto</button>
					</div>
				</form>
			</h2>


			<%- include('./partials/footer.ejs') %>