<% if (locals.user != undefined) { %>
	<%- include('./partials/headerlogueado.ejs')%>
<% } else { %>
	<%- include('./partials/header.ejs')%>
<% } %>
<!-- product detail -->
        <div class="container products-wrapper">
            <div class="d-flex align-items-center">
                <h2 class="products-title">
                    <%= producto.nombre_producto %>
                </h2>
                <p class="product-detail-description">
                    <a href="">Editar</a>
                </p>
            </div>
            <div class="product-detail">
                <div class="row">
                    <article class="col-12 col-lg-8 product-detail-info">
                        <img src="../imagenes/<%=producto.imagen%>" alt="" class="product-detail-img">
                        <p class="product-detail-description">
                            <%= producto.descripcion %>
                        </p>
                    </article>
                    <div class="col-12 col-lg-4">
                        <% for (let r=0; r < producto.comentarios.length; r++) { %>
                            <section class="comments">
                                <article>
                                    <img src="<%=producto.comentarios[r].image %>" alt="">
                                    <% if (producto.comentarios[r].usuario_id !== undefined) { %>
                                        <div class="data">
                                            <p class="user">
                                                <strong> <a href="/profile"> <%= producto.comentarios[r].usuarios.username %></a> </strong>
                                                <%= producto.comentarios[r].comentario %>
                                            </p>
                                        </div>
                                    <% } %>
									
                                </article>
                            </section>
                        <% } %>
						<form class="form" action="" method="GET">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
                    </div>
                </div>
            </div>
        </div>
    


<%- include('partials/footer.ejs') %>
