<%- include('partials/header.ejs') %>

<!-- product detail -->
<% for (let i=0; i < datos.length; i++) { %>
    <% if (datos[i].id == id) { %>
        <div class="container products-wrapper">
            <div class="d-flex align-items-center">
                <h2 class="products-title">
                    <%= datos[i].nombre %>
                </h2>
                <p class="product-detail-description">
                    <a href="product-add.html">Editar</a>
                </p>
            </div>
            <div class="product-detail">
                <div class="row">
                    <article class="col-12 col-lg-8 product-detail-info">
                        <img src="<%=datos[i].foto %>" alt="" class="product-detail-img">
                        <p class="product-detail-description">
                            <%= datos[i].descripcion %>
                        </p>
                    </article>
                    <div class="col-12 col-lg-4">
                        <% for (let r=0; r < datos[i].comentarios.length; r++) { %>
                            <section class="comments">
                                <article>
                                    <img src="<%=datos[i].comentarios[r].perfil %>" alt="">
                                    <% if (datos[i].comentarios[r].usuario !== undefined) { %>
                                        <div class="data">
                                            <p class="user">
                                                <strong> <a href="/profile"> <%= datos[i].comentarios[r].usuario %></a> </strong>
                                                <%= datos[i].comentarios[r].texto %>
                                            </p>
                                        </div>
                                    <% } %>
									
                                </article>
                            </section>
                        <% } %>
						<form class="form" action="" method="POST">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
<% } %>


<%- include('partials/footer.ejs') %>
