<% if (locals.user != undefined) { %>
	<%- include('./partials/headerlogueado.ejs')%>
<% } else { %>
	<%- include('./partials/header.ejs')%>
<% } %>	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form class="agregarproducto" action="/profile" method="POST" enctype="multipart/form-data" novalidate>
					<div>
						<label for="imagen">Imagen:</label>
						<input type="file" id="imagen" name="imagen" accept="image/*" value="<%= locals.old !== undefined && old.imagen ? old.imagen : "" %>">
						<% if (locals.errors && errors.imagen) { %>
							<p class="feedback"><%= errors.imagen.msg %></p>
						<% } %>
					</div>
					<div>
						<label for="nombre_producto">Nombre del Producto:</label>
						<input type="text" id="nombre_producto" name="nombre_producto" value="<%= locals.old !== undefined && old.nombre_producto ? old.nombre_producto : "" %>">
						<% if (locals.errors && errors.nombre_producto) { %>
							<p class="feedback"><%= errors.nombre_producto.msg %></p>
						<% } %>
					</div>
					<div>
						<label for="descripcion">Descripción:</label>
						<textarea id="descripcion" name="descripcion" rows="4" cols="50" style="resize: none;" value="<%= locals.old !== undefined && old.imagen ? old.imagen : "" %>"></textarea>
						<% if (locals.errors && errors.descripcion) { %>
							<p class="feedback"><%= errors.descripcion.msg %></p>
						<% } %>
					</div>
					<div>
						<input type="submit" value="Enviar">
					</div>
				</form>
			</h2>


			<%- include('./partials/footer.ejs') %>