<% if (locals.user != undefined) { %>
	<%- include('./partials/headerlogueado.ejs')%>
<% } else { %>
	<%- include('./partials/header.ejs')%>
<% } %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <h2 class="forms">
				<form action="/profile/edit" method="POST" novalidate>
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" value="<%= locals.old !== undefined && old.email ? old.email : "" %>"><br><br>
					<% if (locals.errors && errors.email) { %>
						<p class="feedback"><%= errors.email.msg %></p>
					<% } %>
				
					<label for="username">Usuario:</label>
					<input type="text" id="username" name="username" value="<%= locals.old !== undefined && old.username ? old.username : "" %>"><br><br>
					<% if (locals.errors && errors.username) { %>
						<p class="feedback"><%= errors.username.msg %></p>
					<% } %>
				
					<label for="password">Contraseña:</label>
					<input type="password" id="password" name="password" ><br><br>
					<% if (locals.errors && errors.password) { %>
						<p class="feedback"><%= errors.password.msg %></p>
					<% } %>
				
					<label for="fecha">Fecha de nacimiento:</label>
					<input type="date" id="fecha" name="fecha" ><br><br>
				
					<label for="dni">Número de documento:</label>
					<input type="number" id="dni" name="dni" ><br><br>
				
					
					<input type="submit" value="Enviar">
				</form>
				</h2>
			
			</h2>


			<%- include('./partials/footer.ejs') %>