<% if (locals.user != undefined) { %>
	<%- include('./partials/headerlogueado.ejs')%>
<% } else { %>
	<%- include('./partials/header.ejs')%>
<% } %>


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<h2 class="forms"> 
				<form action="/users/register" method="POST">
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" value="<%= locals.old !== undefined && old.email ? old.email : "" %>"><br><br>
					<% if (locals.errors && errors.email) { %>
						<p class="feedback"><%= errors.email.msg %></p>
					<% } %>
				
					<label for="username">Usuario:</label>
					<input type="text" id="username" name="username" required><br><br>
				
					<label for="password">Contraseña:</label>
					<input type="password" id="password" name="password" ><br><br>
				
					<label for="fecha">Fecha de nacimiento:</label>
					<input type="date" id="fecha" name="fecha" ><br><br>
				
					<label for="dni">Número de documento:</label>
					<input type="number" id="dni" name="dni" ><br><br>
				
					<label for="foto">Foto de perfil (URL):</label>
					<input type="text" id="foto" name="foto"><br><br>
					
					<input type="submit" value="Enviar">
				</form>
				
			</h2>


			<%- include('./partials/footer.ejs') %>